[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-creator = "*"
ansible-lint = "*"
ansible-navigator = "*"
cryptography = ">=43.0.1"
gitpython = "*"
loguru = "*"
paramiko = "*"
pip = "*"
pipenv = "*"
redis = "*"

[dev-packages]
antsibull-changelog = "*"
docker = "*"
myst-parser = {extras = ["linkify"], version = "*"}
pytest = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-favicon = "*"
sphinx-tippy = "*"
sphinxcontrib-autoyaml = "*"
sphinxemoji = "*"
version-query = "*"
